/*
   Copied from the MediaWiki Modern skin (modern.css and shared.css).
   MediaWiki copyright © 2001-2010 Magnus Manske, Brion Vibber, Lee Daniel Crocker, Tim Starling, Erik Möller, Gabriel Wicke, Ævar Arnfjörð Bjarmason, Niklas Laxström, Domas Mituzas, Rob Church, Yuri Astrakhan, Aryeh Gregor, Aaron Schulz, Andrew Garrett, Raimond Spekking, Alexandre Emsenhuber, Siebrand Mazeland, Chad Horohoe and others.

   MediaWiki is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.

   MediaWiki is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA or read it online: http://www.gnu.org/licenses/gpl-2.0.html.
*/
table {
 background:none repeat scroll 0 0 #f9f9f9;
 border-collapse:collapse;
 margin: 0 1em 1em 0;
 border: 1px #aaa solid;
 border-collapse: collapse;
}
th, td {
 border:1px solid #AAAAAA;
 padding:0.2em;
}
th {
 background:none repeat scroll 0 0 #F2F2F2;
 text-align:center;
}
body {
 background-color:#F0F0F0;
 color:black;
 font-family:sans-serif;
 font-size:x-small;
 margin:0;
 padding:0;
}
#mw_main, #p-personal, #mw_header, .os-suggest {
 font-size:130%;
}
#mw_header {
 background-color:#003366;
 border:medium none;
 color:white;
 height:2em;
 left:0;
 margin:0;
 padding:0 0;
 position:absolute;
 top:0;
 width:100%;
}
#mw_header h1 {
 font-size:150%;
 margin:0 0 0 0.5em;
 padding:0;
 text-decoration:none;
}
#p-personal {
 height:1.5em;
 left:0;
 margin:0;
 padding:0;
 position:absolute;
 top:2em;
 width:100%;
}
#p-personal div.pBody {
 font-variant:small-caps;
 height:1.5em;
 margin:0;
 padding:0;
}
#p-personal h5 {
 display:none;
}
#p-personal ul {
 background-color:#3C78B5;
 display:block;
 height:1.5em;
 margin:0;
 padding:0;
}
#p-personal li {
 display:block;
 float:left;
 font-weight:bold;
 height:1.5em;
 margin:0;
 text-transform:lowercase;
 vertical-align:middle;
}
#p-personal li a {
 color:white;
 padding:0 1em;
 text-decoration:none;
}
#p-personal li a:hover {
 color:white;
 text-decoration:none;
}
#p-personal li:hover {
 background-color:#003366;
}
#mw_contentwrapper {
 float:right;
 margin:0 0 0 -15em;
 width:100%;
}
#mw_content {
 background-color:white;
 border-bottom:1px solid #BBBBBB;
 border-left:1px solid #BBBBBB;
 border-top:1px solid #BBBBBB;
 line-height:1.5em;
 margin:0 0 0 14em;
 padding:0 1em 1em;
}
#mw_portlets {
 background-color:#F0F0F0;
 border-right:1px solid #BBBBBB;
 width:14em;
}
#mw_main {
 margin:3.5em 0 0;
 padding:0;
}
div.mw_clear {
 clear:both;
 margin:0;
 padding:0;
}
.portlet {
 margin:0;
 padding:0;
}
.portlet div.pBody {
 padding:0 0 0.5em;
}
.portlet h5 {
 background-color:#DDDDDD;
 border-bottom:1px solid #3C78B5;
 font-weight:bold;
 height:1.1em;
 margin:0;
 padding:0.1em 0 0.3em 1em;
}
.portlet ul {
 margin:0 0 0 1.5em;
 padding:0;
}
#mw_portlets .portlet ul {
 line-height:1.4em;
}
#footer {
 clear:both;
 color:#444444;
 padding:10px 1em 1em;
}
#footer a, #footer a:hover, #footer a:visited {
 color:#444444;
 text-decoration:underline;
}
#footer li {
 display:inline;
 list-style-type:none;
 margin:0;
 padding:0;
}
#footer ul {
 margin:0;
 padding:0;
}
p {
 margin:1em 0;
}
#mw_portlets form {
 margin:0;
 padding:0;
}
a {
 background:none repeat scroll 0 0 transparent;
 color:#003366;
 text-decoration:none;
}
a:visited {
 color:#5A3696;
}
a:active {
 color:#FAA700;
}
a:hover {
 text-decoration:underline;
}
h1, h2 {
 border-bottom:1px solid #003366;
}
#mw_header h1, #p-personal, #p-cactions {
 overflow:hidden;
}
ul {
 line-height:1.5em;
 list-style-type:square;
 margin:0.3em 0 0 1.5em;
 padding:0;
}
li {
 margin-bottom:0.1em;
}
pre {
 background-color:#F0F0F0;
 border:1px solid #3C78B5;
 padding:0.4em;
}
/* own */
.tac { text-align: center; }
.javascript-only { display: none; }
div.box { background-color: #F2F2F2; border: 1px solid #AAAAAA; padding: 0.2em; margin-top: 10px; margin-bottom: 10px; }
p.lm-navi { text-align: center; margin: 0px; padding: 0px; }
p.yearly-sum { clear: both; margin: 0; }
table#view-table { float: left; margin-bottom: 0px; width: 30em; }
table#view-top-table { background-color: transparent; border: 0px; }
table#view-top-table td.vtttd { border: 0px; vertical-align: top; }
h2#view-mentees-all { clear: both; }
span.award-5 { 
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Emerald_Logo.svg/16px-Emerald_Logo.svg.png") no-repeat scroll left center transparent; 
}
span.award-4 { 
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Pewter_medal_icon.svg/16px-Pewter_medal_icon.svg.png") no-repeat scroll left center transparent; 
}
span.award-3 { 
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Gold_medal_blank.svg/16px-Gold_medal_blank.svg.png") no-repeat scroll left center transparent; 
}
span.award-2 {
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Silver_medal_blank.svg/16px-Silver_medal_blank.svg.png") no-repeat scroll left center transparent;
}
span.award-1 {
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/3/34/Bronze_medal_blank.svg/16px-Bronze_medal_blank.svg.png") no-repeat scroll left center transparent;
}
span.award-1, span.award-2, span.award-3, span.award-4, span.award-5 {
  padding-left: 18px; 
}
.highlight-okay {
  color: green;
}
.highlight-problem {
  color: red;
}
td.highlight-problem, td.highlight-okay {
  text-align: right;
}
.mentee-okay, .mentee-problem, .mentee-critical {
  font-weight: bold;
}
.mentee-okay, .mentee-okay a {
  color: green;
}
.mentee-problem, .mentee-problem a {
  color: #ff9900;
}
.mentee-critical, .mentee-critical a, input.delete-mm {
  color: red;
}
td.mm-list-cell-dimmed {
  color: grey;
}
td.mm-list-cell { }
.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
}
/* table sorter stuff */
th.header { 
    background-image: url(../style/bg.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}
th.headerSortUp { 
    background-image: url(../style/asc.gif); 
    background-color: #3399FF; 
}
th.headerSortDown { 
    background-image: url(../style/desc.gif); 
    background-color: #3399FF; 
}
