body
{
  font-family: "Nimbus Sans L", sans-serif;
}

h1, h2, h3, h4, h5, a, #footer
{
  color: #366D9C;
}

h1, h2, h3, h4, h5
{
  font-family: "Linux Libertine O", Palatino, serif;
  font-weight: normal;
}

#footer, #h-login
{
  font-size: 0.8em;
}

#h-login 
{
  position: absolute;
  right: 20px;
}

#footer
{
  text-align: center;
  margin-top: 50px;
}

#status-overview
{
  display: none;
}

#naviList
{
  list-style: none outside none;
  margin-top: 0px;
  padding-left: 10px;
}

#naviList li:first-child
{
  border-top: 0px;
}

#naviList li
{
  border-top: 1px solid #DDDDDD;
}

#navi
{
  font-size: 0.8em;
  position: absolute;
  top: 50px;
  width: 115px;
}

#navi a
{
  text-decoration: none;
}

#content
{
  margin-left: 30px;
}

#main
{
  position: absolute;
  top: 0px;
  left: 150px;
  right: 0px;
}

