<p>Die Mentorendatenbank basiert auf PHP und MySQL sowie HTML, CSS und Javascript (insbesondere jQuery) für die Benutzeroberfläche. Diese wird durch Javascript nur <em>verbessert</em>, das heißt, man kann die Mentorendatenbank auch ohne Javascript-Aktivierung uneingeschränkt nutzen. Der Quellcode ist
<a href="https://github.com/tool-labs/mp">auf GitHub</a> einsehbar und
steht unter der <a href="http://de.wikipedia.org/wiki/MIT-Lizenz">X11-Lizenz</a>
und unter der <a href="http://de.wikipedia.org/wiki/GNU_Lesser_General_Public_License">
	GNU Lesser Genral Public License</a> (LGPL). Die Autoren sind <a href="https://de.wikipedia.org/wiki/Benutzer:ireas">ireas</a> und <a href="https://de.wikipedia.org/wiki/Benutzer:Merlissimo">Merlissimo</a>. Geistige Väter der Mentorendatenbank sind Ulli Purwin, Euku, FreedomWizard, Tilla und andere.</p>

<p>Die Projektseite des Mentorenprogramms in der deutschsprachigen Wikipedia ist
<a href="https://de.wikipedia.org/wiki/Wikipedia:Mentorenprogramm">hier</a> erreichbar.</p>

<h2>Neuigkeiten / Changelog</h2>
<p>Änderungen an der Software kannst du <a href="https://github.com/tool-labs/mp">auf GitHub</a>. Manche Änderungen werden auch in die folgende Liste eingetragen.</p>

<dl>
  <dt>r79-80: Log</dt>
  <dd>Veränderungen an der Datenbank werden nun geloggt und sind auf der <a href="index.php?action=log"><tt>log</tt>-Seite</a> einsehbar.</dd>
  <dt>r74: Menteeübersicht</dt>
  <dd>Die <a href="index.php?action=mentees">Menteeübersicht</a> (<em>„Neulingsbörse“</em>) steht.</dd>
  <dt>r66: Alle Seiten</dt>
  <dd>Die Seite <tt>index</tt> (in der Navigation unter „Alle Seiten“ zu finden) listet alle verfügbaren Seiten auf.</dd>
  <dt>r60-64: „Meißener Vorschläge I“</dt>
  <dd>Einige Vorschläge, die auf dem Meißener Mentorentreffen im Oktober 2010 geäußert wurde, sind eingearbeitet worden. Beispielsweise werden ab sofort auf den Mentee-Datensatz-Seiten Links zu den Stimmberechtigungs- und Editcount-Tools angezeigt. Zudem wird die „reale Aktivität” mit betrachtet, das heißt es wird angezeigt, ob ein (ehemaliger) Mentee in letzter Zeit editiert hat.</dd>
  <dt>r56: Co-Mentoren</dt>
  <dd>Co-Mentoren werden angezeigt und können bearbeitet werden.</dd>
  <dt>r47: Valide</dt>
  <dd>Wir verwenden nun nur noch valides XHTML 1.1. In der Fußzeile gibt es einen Link zum Validator, um uns Lügen zu strafen. Falls du einen Fehler entdeckst, verlinke uns bitte die entsprechende Seite.</dd>
  <dt>r41: Skin</dt>
  <dd>Der MediaWiki-Modern-Skin ist jetzt der einzige vorhandene Skin.</dd>
</dl>
