<h1>Über die Mentorendatenbank</h1>

<p>Die Mentorendatenbank basiert auf PHP und MySQL sowie HTML, CSS und Javascript (insbesondere jQuery) für die Benutzeroberfläche. Diese wird durch Javascript nur <em>verbessert</em>, das heißt, man kann die Mentorendatenbank auch ohne Javascript-Aktivierung uneingeschränkt nutzen. Der Quellcode ist
<a href="https://svn.toolserver.org/svnroot/p_dewpmp">hier</a> einsehbar und
steht unter der <a href="http://de.wikipedia.org/wiki/MIT-Lizenz">MIT-Lizenz</a>
und unter der <a href="http://de.wikipedia.org/wiki/GNU_Lesser_General_Public_License">
GNU Lesser Genral Public License</a> (LGPL). Die Autoren sind:</p>

<ul>
 <li>Robin Krahl aka ireas (&lt;<a href="mailto:me@robin-krahl.de">me@robin-krahl.de</a>&gt;)</li>
 <li>Merlissimo</li>
</ul>

<p>Geistige Väter der Mentorendatenbank sind:</p>

<ul>
  <li>Ulli Purwin</li>
  <li>Euku</li>
  <li>FreedomWizard</li>
  <li>Tilla</li>
  <li>und andere…</li>
</ul>

<p>Die Projektseite des Mentorenprogramms in der deutschsprachigen Wikipedia ist
<a href="http://de.wikipedia.org/wiki/Wikipedia:Mentorenprogramm">hier</a> erreichbar.</p>

<h2>Neuigkeiten / Changelog</h2>
<p>Änderungen an der Software kannst du im <a href="..">SVN-Logbuch</a> oder im <a href="...">JIRA-Bugtracker</a> nachvollziehen.</p>
