<?php
header("Content-type: text/html;charset=utf-8");
mb_language('uni');
mb_internal_encoding('UTF-8');
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
  <head>
    <title><?= $this->title ?></title>
	<meta http-equiv="charset" content="utf-8" />
	<meta name="robots" content="noindex,nofollow" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<?php
  echo $this->header;
?>
    <script type="text/javascript" src="style/jquery.js"></script>
    <script type="text/javascript" src="style/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" media="handheld, screen" href="style/jquery-ui.css" />
    <!-- modern design -->
    <link type="text/css" rel="stylesheet" href="style/modern.css" />
    <script type="text/javascript">/*<![CDATA[*/
      Array.prototype.unique = function() {
        var o = {};
        var tmp = [];
        for(var i = 0 ; i < this.length; i++) o[this[i]] = true;
        for(var i in o) tmp[tmp.length] = i;
        return tmp;
      }
      String.prototype.empty = function() {
        return this.match(/^\s*$/) != null;
      }
      // show javascript-only texts
      $(function() { $('.javascript-only').css('display', 'inline'); } );
      // validate function
      function validate_timestamp(timestamp) {
        var m = timestamp.match(/^\d\d\d\d-\d\d-\d\d$/);
        if (!m || m[0] < 2000 || m[1] < 1 || m[1] > 12 || m[2] < 1 ||
            m[2] > 31) {
          return false;
        }
        return true;
      }
      function validate_datetimestamp(datetimestamp) {
        var m = datetimestamp.match(/^\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d$/);
        if (!m || m[0] < 2000 || m[1] < 1 || m[1] > 12 || m[2] < 1 ||
            m[2] > 31 || m[3] < 0 || m[3] > 23 || m[4] < 0 || m[4] > 59 ||
            m[5] < 0 || m[5] > 60) {
          return false;
        }
        return true;
      }
      function get_datetime_now()
      {
        now = new Date();
        day = now.getDate();
        if (day < 10) day = "0" + day;
        month = now.getMonth();
        if (month < 10) month = "0" + month
        year = now.getFullYear();
        hours = now.getHours();
        if (hours < 10) hours = "0" + hours
        mins = now.getMinutes();
        if (mins < 10) mins = "0" + mins;
        secs = now.getSeconds();
        if (secs < 10) secs = "0" + secs;

        return year + "-" + month + "-" + day + " " + hours + ":" + mins + ":" + secs;
      }
      // show an error icon
      function show_error(node_id) {
        $(node_id).parent().append(' <img src="style/warning.png" class="warning-image" />');
      }
      // remove all error icons
      function remove_errors() {
        $('.warning-image').remove();
      }
    /*]]>*/
    </script>
  </head>
  <body class="mediawiki skin-modern">

  <div id="mw_header"><h1><?= $this->heading ?></h1></div>
  <div id="mw_main">
  <div id="mw_contentwrapper">
  <div id="mw_content">
