<p>Hier findest du eine Übersicht über alle verfügbaren Seiten.</p>
<table class="wikitable">
  <tr><th>Abkürzung</th><th>Funktion</th></tr>
  <tr><td><a href="index.php?action=about"><tt>about</tt></a></td><td>Weiterführende Informationen</td></tr>
  <tr><td><a href="index.php?action=addcom"><tt>addcom</tt></a></td><td>Fügt einen Comentor hinzu</td></tr>
  <tr><td><a href="index.php?action=changepw"><tt>changepw</tt></a></td><td>Ändert das Passwort des angemeldeten Benutzers</td></tr>
  <tr><td><a href="index.php?action=delcom"><tt>delcom</tt></a></td><td>Löscht einen Comentor</td></tr>
  <tr><td><a href="index.php?action=edit"><tt>edit</tt></a></td><td>Bearbeitet einen Mentor oder einen Mentee</td></tr>
  <tr><td><a href="index.php?action=editmm"><tt>editmm</tt></a></td><td>Bearbeitet eine Mentee-Mentor-Beziehung</td></tr>
  <tr><td><a href="index.php?action=error"><tt>error</tt></a></td><td>Fehler-Seite</td></tr>
  <tr><td><a href="index.php?action=index"><tt>index</tt></a></td><td>Zeigt diese Übersichtsseite</td></tr>
  <tr><td><a href="index.php?action=log"><tt>log</tt></a></td><td>Listet die letzten 50 Änderungen in der Datenbank</td></tr>
  <tr><td><a href="index.php?action=mentees"><tt>mentees</tt></a></td><td>Zeigt eine Liste aller momentan betreuter Neulinge (<em>„Neulingsbörse“</em>)</td></tr>
  <tr><td><a href="index.php?action=mentorlist"><tt>mentorlist</tt></a></td><td>Zeigt eine Liste aller Mentoren</td></tr>
  <tr><td><a href="index.php?action=view"><tt>view</tt></a></td><td>Zeigt einen Mentoren-Datensatz</td></tr>
  <tr><td><a href="index.php?action=viewmentee"><tt>viewmentee</tt></a></td><td>Zeigt einen Mentee-Datensatz</td></tr>
  <tr><td><a href="index.php?action=search"><tt>search</tt></a></td><td>Sucht nach einem Mentor oder Mentee</td></tr>
  <tr><td><a href="index.php?action=stat"><tt>stat</tt></a></td><td>Zeigt eine statistische Übersichtsseite</td></tr>
  <tr><td><a href="index.php?action=login"><tt>login</tt></a></td><td>Meldet den aktuellen Benutzer an</td></tr>
  <tr><td><a href="index.php?action=logout"><tt>logout</tt></a></td><td>Meldet den aktuellen Benutzer ab</td></tr>
</table>
