<p><a href="index.php?action=maintenance_mm_history">zeitlichen Verlauf der Betreuungen anzeigen</a></p>
<p>Unten siehst du eine Liste aller momentan betreuter Mentees. Die Einfärbung der Menteenamen bedeutet:</p>
<dl>
  <di><dt class="mentee-critical">rot</dt><dd>Der letzte Edit liegt mehr als 60 Tage zurück.</dd></di>
  <di><dt class="mentee-problem">orange</dt><dd>Die Betreuung des Benutzers dauert bereits mehr als fünf Monate</dd></di>
  <di><dt class="mentee-okay">grün</dt><dd>Keines der beiden Kriterien ist erfüllt.</dd></di>
</dl>

<h2>Menteeübersicht</h2>
<script type="text/javascript" id="js">
      // start the tablesorter
      $(document).ready(function() {
        $(".tablesorter").tablesorter();
      });
</script>
<table class="tablesorter"><thead>
  <tr><th>Mentee</th><th>Mentor</th><th>Letzter Edit vor [Tage]</th><th>Mentee seit [Tage]</tr>
</thead><tbody>
<?php
foreach ($this->data['mentees'] as $m)
{
  $dLimit    = new DateTime();
  $dLimit->setTimestamp(strtotime('-5 months', time()));
  $in   = DateTime::createFromFormat("Y-m-d H:i:s", $m['mm_start']);
  $now = new DateTime();
  $inDiff = $in->diff($now);
  $diffLimit = $dLimit->diff($in);
  $too_long = (bool) $diffLimit->invert;

$class = "mentee-okay";
$recentEditLimit = $now->modify('-60 days');

// if the mentee has ever done one edit or not
if ($m['recent_edit'] != '') {
  $recentEdit = DateTime::createFromFormat("YmdHis", trim($m['recent_edit']));
  $recentEditDiff = $recentEdit->diff(new DateTime());
} else {
  $recentEditDiff = -1;
  $recentEdit = new DateTime();
}

  if ($too_long) {
    $class = "mentee-problem";
  }
  if ($recentEdit < $recentEditLimit) {
    $class = "mentee-critical";
  }
?>
  <tr><td class="<?= $class ?>"><a href="index.php?action=viewmentee&id=<?= $m['mentee_user_id'] ?>"><?= $m['mentee_user_name'] ?></a></td><td><a href="index.php?action=viewmentor&id=<?= $m['mentor_user_id'] ?>"><?= $m['mentor_user_name'] ?></a></td><?php
  if ($recentEdit > $recentEditLimit) {
?><td class="highlight-okay"><?php
  } else {
?><td class="highlight-problem"><?php
  }
?><?= $recentEditDiff !== -1 ? $recentEditDiff->format('%a') : "-" ?></td>
<?php
  if (!$too_long) {
?><td class="highlight-okay"><?php
  } else {
?><td class="highlight-problem"><?php
  }
?><?= $inDiff->format('%a') ?></td>
</tr>
<?php
}
?>
</tbody></table>
