<?php
$m = $this->data["mentee"];
?>
<h2>Informationen <?php if ($this->access->is_editor()) { ?><a href="index.php?action=edit&amp;what=mentee&amp;id=<?= $m['mentee_id'] ?>" class="mentee-edit-link">[bearbeiten]</a><?php } ?></h2>

<table id="view-top-table">
<tr>
<td class="vtttd">
 <table id="view-table">
    <tr id="view-in"><th>Eintritt</th><td><?= fd($m["mentee_in"]) ?></td></tr>
    <tr id="view-out"><th>Austritt</th><td><?= fd($m["mentee_out"]) ?></td></tr>
    <tr id="view-articles"><th>Erstellte Artikel</th><td><?= $this->data['article_count'] ?> – <a href="#articles">Liste</a></td></tr>
    <tr id="view-mentors"><th><? if (count($this->data['mentors']) == 1) { ?>Mentor<? } else { ?>Mentoren<? } ?></th><td><?php
 $count = count($this->data['mentors']);
 for ($i = 0; $i < $count; $i++)
 {
   $mentor = $this->data['mentors'][$i];
 ?><a href="index.php?action=view&amp;id=<?= $mentor['mentor_id'] ?>"><?= $mentor['mentor_user_name'] ?></a><?php
   if ($this->access->is_editor()) {
     ?> (<a href="index.php?action=editmm&amp;mentee_id=<?= $m['mentee_id'] ?>&amp;mentor_id=<?= $mentor['mentor_id'] ?>" title="bearbeiten">∓</a>)<?php
   }
   if ($i < $count - 1)
   {
    ?>, <?php
   }
 }
 ?></td></tr>
  </table>
</td>

<td class="vtttd">
<ul id="view-ul-right">
<li id="view-userpage"><a href="http://de.wikipedia.org/wiki/Benutzer:<?= $m["mentee_user_name"] ?>">Wikipedia-Benutzerseite</a></li>
  

<?php
if (!empty($m["mentee_remark"]))
{
?>
<li id="view-comment"><strong>Anmerkung:</strong> <?= $m["mentee_remark"] ?></li>
<?php
}
?>

<li id="view-updated">Letzte Aktualisierung: <?= fdt($m["mentee_lastupdate"]) ?></li>
</ul>
</td>
</tr>
</table>

<h2 id="view-articles-all"><a id="articles"></a>Artikel</h2>
<?php
if (empty($this->data['articles']))
{
?>
<p><em>Keine.</em></p>
<?php
}
else
{
?>
<table id="listarticles-table">
  <tr id="listarticles-headers"><th>Artikel</th><th>Anlegedatum</th></tr>
  <?php
  foreach ($this->data['articles'] as $article)
  {
  ?>
  <tr><td class="listarticles-article"><a href="http://de.wikipedia.org/w/index.php?action=diff&amp;oldid=<?= $article['ma_rev_id'] ?>">...</a></td>
      <td class="listarticles-creation"><?= fd($article['ma_creation_date']) ?></td>
  <?php
  }
  ?>
</table>
<?php
}
?>

